<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>はじめまして(仮)</title>
<link rel= "stylesheet" type= "text/css" 
href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<h2>表示したい内容を登録してください</h2>
    <form action="/add" method="post" enctype="multipart/form-data">
        <label>表示名</label><br>
        <input type="text" name="name" maxlength="10" placeholder="表示名を入力"><br>
        <label>自己紹介文</label><br>
        <textarea name="intro" placeholder="自己紹介を入力"></textarea>
    <style>
      textarea{
        width:100%;
        height:100px;
        resize:vertical;
      }
    </style>
    <h2>顔写真を登録してください</h2>
    <input type="file" name="image" accept="image/*" required>
    <input type="submit" class = "button" value="Add"/>
    </form>
    <!-- <a href="" class="btn btn--orange">登録する</a> -->
    <br>
    <br>
    <a href="/" class="btn btn--orange">メニューに戻る</a>

    <br>
    {% for d in data %}
      <p>{{d.id}} : {{d.name}} : {{d.intro}} : {{d.man_face_encoding_str}}</p>
    {% endfor %}
</body>
</html>
